*,*::after,*::before{
    box-sizing: content-box;
  overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bg-nutral:200;
    --bg-currect:145;
    --bg-wrong:0;
    
}

body{
    --bg:var( --bg-nutral);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(var(--bg), 100%, 25%);
}

.currect{
    --bg:var(--bg-currect);
}

.wrong{
    --bg:var(--bg-wrong);
}

.container{
    box-shadow: 0 0 30px 2px;
    background:white;
    padding: 10px;
    border-radius:10px ;
    width: 800px;
    max-width: 80%;
    
}

.grid-btn{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.h1{
    position: absolute;
    top: 15%;
    color: white;
    transition: all 1s;    

}

.btn{
    --bg:var(--bg-nutral);
    background:hsl(var(--bg), 100%,40%);
    outline: none;
    border-radius: 5px;
    border: none;
    padding: auto;
    color: white;
    padding: 5px 0;
    
}
.btn:hover{
    border: solid black 1px;
}

.hide{
    display: none;
}

.start-btn,.next-btn{
    padding: 10px 15px;
    margin: 1px;
}

.foot{
    top: 90%;
    position: absolute;
    text-align: center;
    color: white;

}